<ion-header >
  <ion-toolbar>
    <ion-title>
      Accordion
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <app-expandable *ngFor="let i of items; index as index"
                  [title]="i.name"
                  [itemIndex]="index"
                  [imageUrl]="i.image">

    <ion-list lines="none" class="ion-no-padding">

      <ion-item *ngFor="let o of i.options" button detail (click)="onItemClick(o)">

        <ion-label color="primary">{{o.name}}</ion-label>

      </ion-item>

    </ion-list>

  </app-expandable>

</ion-content>
